.signiture {
    text-decoration: none;
    color:green;
}
.signiture:hover {
    text-decoration: underline;
    cursor: pointer;
}
.default {
    text-decoration: none;
    color: inherit
}
.default:hover {
    text-decoration: underline;
    cursor: pointer;
}