a.signiture {
    text-decoration: none;
    color:green;
}
a.signiture:hover {
    text-decoration: underline;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}