.small-button {
    font-family: inherit;
    color: #FBF7F5;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
    padding: 5px 2px;
    min-width: 100px;
    min-height: 30px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
.medium-button {
    font-family: inherit;
    color: #FBF7F5;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 0px;
    padding: 10px 5px;
    min-width: 200px;
    min-height: 60px;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
}
.grey {
    background-color: grey;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}
.tight {
    margin-top: 5px;
    margin-bottom: 5px;
}
.tight-top {
    margin-top: 5px;
}
.tight-bottom {
    margin-bottom: 5px;
}