code {
    font-size: medium;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style:solid;
    border-width:thick;
    border-radius: 20px;
    border-color:grey;
    padding: 10px;
    width: 40%;
    overflow-x: auto;
    background-color:darkslategrey;
    color: whitesmoke;
    display: block;
}
::-webkit-scrollbar {
    background-color: none;
    border:none;
}
::-webkit-scrollbar-thumb {
    background-color: dimgray;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}