code {
    font-size: medium;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style:solid;
    border-width:thick;
    border-radius: 20px;
    border-color:grey;
    padding: 10px;
    width: 40%;
    overflow-x: auto;
    background-color:darkslategrey;
    color: whitesmoke;
    display: block;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
code::-webkit-scrollbar {
    display: none;
}