.title {
    font-family: inherit;
    font-weight: 500;
    font-size: 70px;
    font-style: normal;
    color:rgb(197, 159, 159);
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.sub-title {
    font-family: inherit;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    color:rgb(197, 159, 159);
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 10px;
}