h1 {
    font-family: inherit;
    font-weight: 700;
    font-size: 70px;
    font-style: normal;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 10px;
}
h2 {
    font-family: inherit;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 10px;
}
h3 {
    font-family: inherit;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 15px;
}