ul {
    padding-left: 0px;
    margin-bottom: 10px;
    list-style-type: none;
}
ul li {
    font-size: 20px;
    margin-left: 40px;
    position: relative;
}
ol {
    padding-left: 0px;
    margin-bottom: 5px;
}
ol li {
    font-size: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    position: relative;
}
ul li::before {
    content: "•";
    font-size: 25px; 
    position: absolute;
    left: -20px;
    top: 0;
}