a.function {
    color: blue;
    font-weight: 700;
    text-decoration: none;
}
a.namespace {
    color: orangered;
    font-weight: 700;
    text-decoration: none;
}
a.class {
    color: burlywood;
    font-weight: 700;
    text-decoration: none;
}
a.function:hover {
    text-decoration: underline;
    cursor: pointer;
}
a.namespace:hover {
    text-decoration: underline;
    cursor: pointer;
}
a.class:hover {
    text-decoration: underline;
    cursor: pointer;
}