p {
    margin-top: 0px;
    margin-left: 50px;
    border-style: solid;
    border-width:medium;
    border-radius: 20px;
    border-color:lightcoral;
    padding: 10px;
    background-color: inherit;
    font-weight: 500;
    font-size: 17px;
    max-width: 40%;
    word-break: break-word;
    color:lightcoral;
    display: block;
}
p.flat {
    margin-left: 0px;
}