code {
    font-style: 'Ubuntu';
    font-size: medium;
    margin-left: 10px;
    border-style:solid;
    border-width:thick;
    border-radius: 20px;
    border-color: black;
    padding: 10px;
    width: 40%;
    background-color: darkslategrey;
    color: whitesmoke;
    display: block;
    overflow-wrap:break-word;
}